<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/form-flow.css') }}" />
        <title>{% block title %}Data Collection Form{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <header class="col-md-12" style="border-bottom:thin solid black;">
          <div style="font-size:150%; font-style:italic; font-weight:bold;">
          </br>
          Research Collaboration in FCL: </br>
          Data Collection Form </br>
        </div>
        <div style="float:right;">
          <img src="{{ asset('images/fcl.jpg') }}" alt="FCL" style="height:60%; width:auto; position:absolute; top:10px; right:10px;">
        <span style="padding-right:30px;">
          Developed by CIVAL
        </span>
        </div>
        </header>
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
        <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="{{ asset('js/main.js') }}"></script>
        <script type="text/javascript">
        var $collectionHolder;

        // setup an "add a collaborator" link
        var $addcollaboratorLink = $('<button href="#" class="add_collaborator_link btn btn-info" style="float:left;"> + Add a collaborator</button></br>');
        var $newLinkSpan = $('<span></span>').append($addcollaboratorLink);

        jQuery(document).ready(function() {
          $('#general_information_research_group_Choices').on("change",function(){
          if ($('#general_information_research_group_Choices').val() == ' '){
            $('#general_information_research_group_Others').show();
          }else{
            $('#general_information_research_group_Others').hide();
          }
          });

          $('#background_information_nationality_Choices').on("change",function(){
          if ($('#background_information_nationality_Choices').val() == ' '){
            $('#background_information_nationality_Others').show();
          }else{
            $('#background_information_nationality_Others').hide();
          }
          });

            $("#myRange").on("input change", function() {
              var x = document.getElementById("myRange").value;
              document.getElementById("demo").innerHTML = x;
            });
            // Get the ul that holds the collection of tags
            $collectionHolder = $('div.collaborators');

            $collectionHolder.find('span').each(function() {
                addcollaboratorFormDeleteLink($(this));
            });

            // add the "add a tag" anchor and li to the tags ul
            $collectionHolder.append($newLinkSpan);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addcollaboratorLink.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new tag form (see next code block)
                addcollaboratorForm($collectionHolder, $newLinkSpan);
            });
        });

        function addcollaboratorForm($collectionHolder, $newLinkSpan) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormSpan = $('<span></span>').append(newForm);
            $newLinkSpan.before($newFormSpan);

            // add a delete link to the new form
            addcollaboratorFormDeleteLink($newFormSpan);
        }

        function addcollaboratorFormDeleteLink($collaboratorFormSpan) {
            var $removeFormA = $('<button href="#" class="btn btn-warning" style="float:right;"> - Delete this collaborator</button></br><hr style="height:1px;border:none;color:#333;background-color:#333;" />');
            $collaboratorFormSpan.append($removeFormA);

            $removeFormA.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // remove the li for the tag form
                $collaboratorFormSpan.remove();
            });
        }

        function alertFunction(){
          var x;
          if(confirm("Data entered will not be saved. Do you want to proceed?") == true){
            return true;
          }
          else {
            return false;
          }
        }
        </script>
        {% endblock %}
    </body>
</html>
