{% trans_default_domain 'FOSUserBundle' %}
{{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
<h2 class="form-register-heading" style="font-family:lato;">Change Password</h2>
    <div class="form-register">
    {{ form_widget(form) }}
    </div>
    <div>
        <input type="submit"
        class="btn btn-lg btn-primary btn-block button"
              value="{{ 'resetting.reset.submit'|trans }}" />
    </div>
{{ form_end(form) }}

{% block stylesheets %}
    <style>

        .button{
            max-width: 330px;
            padding: 15px;
            margin: 0 auto;
            margin-top: 20px;
        }

        .form-register {
            max-width: 330px;
            padding: 15px;
            margin: 0 auto;
        }

        .form-register-heading {
          text-align: center;
        }

        .form-register .form-control {
            position: relative;
            height: auto;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding: 10px;
            font-size: 16px;
        }

        .form-register .form-control:focus{
            z-index: 2;
        }

        .form-register input[type="password"] {
            margin-bottom: -1px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    </style>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
  document.getElementById('fos_user_resetting_form_plainPassword_first').className = 'form-control';
  document.getElementById('fos_user_resetting_form_plainPassword_first').placeholder = 'New Password';
  document.getElementById('fos_user_resetting_form_plainPassword_second').className = 'form-control';
  document.getElementById('fos_user_resetting_form_plainPassword_second').placeholder = 'Repeat Password';
</script>
{% endblock %}
